{% extends 'base.html' %}
{% block body %}
  <div class="container">
    <div class="py-5 text-center bg-secondary text-white">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <h1 class=" mb-3">Uplaod Image</h1>
      <form class="" action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form}}
        <input type="submit" name="" value="Upload">
      </form>
    </div>

    <div class="row">
    {% for image in images %}
    <div class="col-sm-4">
      <div class="card m-2">
        <img src="{{image.photo.url}}" class="card-img-top" height="" alt="">
        <div class="card-footer">
          <small class="text-muted">{{image.generated}}</small>
          <input type="button" onclick="downloadImage('{{image.photo.url}}','{{image.name}}');" value="Download">
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
{% endblock  %}
{% block js  %}
    <script type="text/javascript">
    $( document ).ready(function() {
      if ("{{response}}" == "success"){
        alert( "Image Uploaded Successfully." );
      }

    });

  function downloadImage(url, filename) {
    const a = document.createElement("a");
    a.href = url;
    a.download = filename;
    a.click();
    window.URL.revokeObjectURL(url);
  }
</script>


{% endblock  %}
