{% extends 'base.html' %}
{% block body %}
  <div class="">
    <div class="py-5 text-center text-white " style="background: linear-gradient(135deg, #1642bf, #ffcced);">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <h1 class=" mb-3">Uplaod Image</h1>
      <form class="" action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form}}
        <input type="submit" name="" value="Upload">
      </form>
    </div>

    <div class="row ">
    {% for image in images %}
    <div class="col-sm-4">
      <div class="card m-2 " style="background: linear-gradient(135deg, #d367ff, #64f9e4);">
        <img src="{{image.photo.url}}" class="card-img-top" height="" alt="">
        <div class="card-footer">
          <small class="text-light">{{image.user_id.first_name}} {{image.user_id.last_name}}</small>
          <small class="text-light">{{image.generated}}</small>
          <small class="text-danger"><a href="/delete?id={{image.id}}">delete</a></small>
          <input type="button" class="btn-outline-info border rounded"  onclick="downloadImage('{{image.photo.url}}','{{image.name}}');" value="Download">
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>

{% endblock  %}
{% block js  %}
    <script type="text/javascript">
    $( document ).ready(function() {
      if ("{{response}}" == "success"){
        alert( "Image Uploaded Successfully." );
      }

    });

  function downloadImage(url, filename) {
    const a = document.createElement("a");
    a.href = url;
    a.download = filename;
    a.click();
    window.URL.revokeObjectURL(url);
  }
</script>


{% endblock  %}
